<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <variable name="logPath" value="D:\\Log\\" />
  <variable name="logWord" value="CT1Log_" />
  <variable name="logName" value="${logPath}${logWord}${shortdate}.csv" />
  <variable name="appName" value="SD2AP-CT1" />

    <targets async="true">
      <target
        name="syslog"
        xsi:type="File"
        encoding="UTF-8"
        fileName="${logName}"
        archiveFileName="${logPath}OldLogs/${logWord}{#}.zip"
        archiveEvery="Day"
        archiveNumbering="Date"
        archiveDateFormat="yyyy-MM-dd"
        maxArchiveFiles="3650"
        enableArchiveFileCompression="true"
        >
        <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
          <column name="level" layout="${level:padding=-5}"/>
          <column name="time" layout="${date}" />
          <column name="processname" layout="${appName} " />
          <column name="threadid" layout="${threadid:padding=4}" />
          <column name="message" layout="[${message}]" />
          <column name="callsite" layout="${callsite}#${callsite-linenumber}" />
        </layout>
      </target>
      <target
        name="errlog"
        xsi:type="File"
        fileName="${logName}"
        >
        <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
          <column name="level" layout="${level:padding=-5}"/>
          <column name="time" layout="${date}" />
          <column name="processname" layout="${appName} " />
          <column name="threadid" layout="${threadid:padding=4}" />
          <column name="message" layout="[${message}]" />
          <column name="callsite" layout="${callsite}#${callsite-linenumber}" />
          <column name="stacktrace" layout="${stacktrace:topFrames=10}" />
          <column name="exception" layout="${exception:format=Type,message,Stack Trace:separator=|}"/>
        </layout>
      </target>
    </targets>

    <rules>
      <logger name="*" levels="Info,Warn" writeTo="syslog" />
      <logger name="*" levels="Error,Fatal" writeTo="errlog" />
    </rules>
</nlog>
